/.vscode
/data.txt
/Even or Odd.py
/filehandling.py
/functions.py
/oorder.py
/password generator.py
/project.py
/Quiz games.py
/Rock,paper,scissors.py
/simplecalculator.py
/tempCodeRunnerFile.py
/Temperature Converter.py
/test_code.py
/__pycache__
/🎓 Student Grade Calculator.py
/🏧 ATM Management System
/💰 Simple Expense Tracker.py